<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100"
	data-compact-threshold="100" style="background-color: black; border-top-width: 0px;">
	<div class="header-inner">
		<div class="row collapse full-width nav-bar reveal-side-navigation">
			<div class="column width-12 nav-bar-inner">
				<div class="logo" style="width: 20%">
					<div class="logo-inner">
						<a href="index.html"><img src="images/logos/agc-blackfont.png" alt="Logo" /></a>
						<a href="index.html"><img src="images/logos/icon_grn_1.png" alt="Logo" /></a>
					</div>
				</div>
				<nav class="navigation nav-block secondary-navigation nav-right">
					<ul>
						<li class="aux-navigation hide">
							<!-- Aux Navigation -->
							<a href="#" class="navigation-show overlay-nav-show nav-icon">
								<span class="icon-menu"></span>
							</a>
						</li>
					</ul>
				</nav>
				<nav class="navigation nav-block primary-navigation nav-right">
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="about-style-one.html">ABOUT</a></li>
						<li><a href="experience.html">EXPERIENCE</a></li>
						<li><a href="#projects">PROJECTS</a></li>
						<li><a href="#articles">ARTICLES</a></li>
						<li><a href="contact-style-one.html">CONTACT</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
